PORT=4000
NODE_ENV=development
MONGO_URI=mongodb+srv://<db_username>:<db_password>@<cluster-host>/zivena
MONGO_DB_NAME=zivena
DNS_SERVERS=
ALLOWED_ORIGINS=http://localhost:4200,http://localhost:4400,https://zivena-ap.web.app,https://zivena.mx,https://www.zivena.mx
AUTH_BYPASS=true
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_CHECK_REVOKED=false
