NODE_ENV=production
MONGO_DB_NAME=zivena
AUTH_BYPASS=false
FIREBASE_PROJECT_ID=zivena-ap
FIREBASE_CHECK_REVOKED=true
ALLOWED_ORIGINS=https://zivena-ap.web.app,https://zivena-ap.firebaseapp.com,https://zivena.mx,https://www.zivena.mx
